* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Borel', cursive;
    font-family: 'Caprasimo', cursive;
    font-family: 'Poppins', sans-serif;
}

main hr {
    border: 0;
    height: 1.5px;
    margin: 60px 84px;
    background: #9c97f1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
    ;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 23px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(125, 125, 232);
    font-size: 1.2rem;
}

.left {
    font-size: 1.6rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;
}
.leftSection .buttons{
    padding: 30px 0;
}

.leftSection .btn {
    padding: 12px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid white;
    background: rgba(123, 8, 123, 0.432);
}


.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(202, 18, 202);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(202, 18, 202);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    /* height: 80vh; */
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;

}

footer {
    background: rgba(60, 1, 60, 0.403);
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

footer .footer-right {
    text-align: center;
    padding: 12px 0;
    color: gray;
}

.footer-third ul li a{
    text-decoration: none;
    color: whitesmoke;
}

/* Project */

.row{
    padding: 60px 0;
}

.col-lg-4{
    align-items: center;
    justify-content: center;
}